* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

h2{
  font-family: 'Crimson Text', serif;
  font-size: 3rem;
}
h3{
  font-family: 'Crimson Text', serif;
  font-size: 2rem 
}
p,a,li{
  font-size: 1.5rem ;
}
 #header-jumbotron {
  background-color: #71C9CE;
  font-size: 1.2rem;
  text-align: center;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
 }
 #header-jumbotron h1 {
  color: white;
  font-family: 'Crimson Text', serif;
 }
 #header-jumbotron p {
  color: white;
  font-family: 'Montserrat', sans-serif;
} 
header{
  display: inline;
}
 nav{
  background-color:#A6E3E9;
  padding: 5px;
  position: sticky !important;
  top: 0 !important;
 }
.navbar-list {
  list-style-type: none;
}
nav a{
  color: #0E46A3;
  text-decoration: none;
  font-size: 1.1rem;
  font-family: 'Crimson Text', serif;
  font-weight: 400 ;
}
nav a:hover {
  color: #A36B0E;
}
nav ul {
  display: flex;
  justify-content:space-around ;

}
.flex-container{
  display: flex;
}
#content {
  background-color: #E3FDFD;
  flex: 5;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem 2rem;
}
.pkmbk-picture{
  align-self: center;
  border: #71C9CE 5px solid;
}
#about-me{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  }
  .profile-picture{
    max-height: 400px;
    max-width: 400px;
    border: #71C9CE 5px solid;
    border-radius: 40px;
  }
  #experience h2,h3,p{
  padding: 5px;
  }
  .card{
    background-color: #71C9CE;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  article{
    padding: 20px;
  }
  #education{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  main aside{
    position : fixed;
    inset-block: 0;
    inset-inline-end: 0;
  }
  main aside .social-media{
    height: 100%;
    display: flex;
  }
  main aside .social-media img{
    height: 100%;
    width: 20px;
  }  

  .github-icon:hover {
    content: url('../images/github-mark.png'); 
  }
  main aside .social-media ul{
    padding: 1.5rem 1rem;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    margin: auto;
    background-color: #71C9CE;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
  main aside .social-media li {
    list-style-type: none;
  }
  main aside .social-media li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: whitesmoke;
    transition: all 0.1s ease-in-out;
  }
  main aside .social-media li a:hover {
    color: black;
  }
  article ol,ul{
    margin-left: 0;
    padding-left: 1.5em;
  }

  .vertical-line {
    border-left: 2px solid white; 
    min-height: 100px; 
    padding: 20px;
justify-self: center;
  }
  #projects{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .carousel {
    margin: 0 auto;
    padding-bottom: 5%; 

  }
  
  .carousel-inner {
    display: flex;    
    width: 100%;
    
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  h2 {
    font-family: 'Crimson Text', serif;
    font-size: 3rem;
  }
  
  h3 {
    font-family: 'Crimson Text', serif;
    font-size: 2rem;
  }
  
  p,
  a,
  li {
    font-size: 1.5rem;
  }
  
  #header-jumbotron {
    background-color: #71c9ce;
    font-size: 1.2rem;
    text-align: center;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #header-jumbotron h1 {
    color: white;
    font-family: 'Crimson Text', serif;
  }
  
  #header-jumbotron p {
    color: white;
    font-family: 'Montserrat', sans-serif;
  }
  
  header {
    display: inline;
  }
  
  nav {
    background-color: #a6e3e9;
    padding: 5px;
    position: sticky !important;
    top: 0 !important;
    z-index: 999 !important;
  }
  
  .navbar-list {
    list-style-type: none;
  }
  
  nav a {
    color: #0e46a3;
    text-decoration: none;
    font-size: 1.1rem;
    font-family: 'Crimson Text', serif;
    font-weight: 400;
  }
  
  nav a:hover {
    color: #a36b0e;
  }
  
  nav ul {
    display: flex;
    justify-content: space-around;
  }
  
  .flex-container {
    display: flex;
  }
  
  #content {
    background-color: #e3fdfd;
    flex: 5;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
  }
  
  .pkmbk-picture {
    align-self: center;
    border: #71c9ce 5px solid;
  }
  
  #about-me {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .profile-picture {
    max-height: 400px;
    max-width: 400px;
    border: #71c9ce 5px solid;
    border-radius: 40px;
  }
  
  #experience h2,
  h3,
  p {
    padding: 5px;
  }
  
  .card {
    background-color: #71c9ce;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  article {
    padding: 20px;
  }
  
  #education {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  main aside {
    position: fixed;
    inset-block: 0;
    inset-inline-end: 0;
  }
  
  main aside .social-media {
    height: 100%;
    display: flex;
  }
  
  main aside .social-media ul {
    padding: 1.5rem 1rem;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    margin: auto;
    background-color: #71c9ce;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
  
  main aside .social-media li {
    list-style-type: none;
  }
  .carousel-item {
    display: none;
    transition: all 1s ease;
    max-width: 100%;
  }
  
  .carousel-item.active {
    display: block;

  }
  
  .carousel-img {
    width: 100%;
    height: 50vh;
  }
 
  
  .carousel-control {
    width: 1%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
      display: flex;
      align-items: center; 
  }
    
  .carousel-control:hover {
    background-color: black;
  }

  footer{
    background-color: #71C9CE;
    min-width: 675px;
    min-height: 10vh;
    text-align: center;
    color: white;
    font-weight: 500;
  }
  .pkmbk-picture{
    max-width: 45vw;
     height: 40vh; 
     margin-left: auto;
     border-radius: 10px;
  }
  @media (max-width: 750px) {

.pkmbk-picture{
  max-width: 100%;
  height: 40%;
  margin: 0;
}

nav ul {
  gap: 3rem;
  padding-inline: 4rem;
}
  #header-jumbotron{

      min-width: 675px;
    }

nav{
  min-width: 675px;
}
  p,a,li{

    font-size: 0.9rem;
  }
  h2{
    font-size: 1.5rem;
  }
  h3{
    font-size: 1.2rem;
  }

#experience{
flex-direction: column;
}
#experience h2{
  text-align: center;
}
.web-footer{
  display: inline-flex;
}
#content{
  min-width: 675px;
}
}
@media screen and (max-width: 1024px) {
  .pkmbk-picture{
    max-width: 100%;
    height: 40%;
    margin: 0;
  }
  #experience{
    flex-direction: column;
    }
    #experience h2{
      text-align: center;
    }
  .carousel-item{
    max-width: 80%;
  }
  p,a,li{
    width: 100% !important;
  }
}
#about-me {
  animation: fadeInUp 1s ease-in-out both;
  opacity: 0; 
}
#experience{
  animation: fadeLeft 2s ease-in-out both;
  opacity: 0;
}
#projects{
  animation: fadeInUp 2s ease-in-out both;
  opacity: 0;

}
#education,#skills{
  animation: fadeLeft 3s ease-in-out both;
  opacity: 0;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px); 
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(-20px); 
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
